.contact_container {
    grid-template-columns: repeat(2, 1fr); /* Equal width for both columns */
    justify-content: center;
    gap: 3rem;
    padding-bottom: 3rem;
}

.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
    height: 200px;
    transition: all 0.3s ease;
}

.contact_info:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact_title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}

.contact_info i {
    font-size: 2rem;
    color: #333;
}

.contact_info span {
    font-size: 1rem;
    color: #555;
}

.contact_info a {
    color: #333;
    transition: all 0.3s ease;
}

.contact_info a:hover {
    color: #000000; /* Blue color on hover */
}

.contact_form_container {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
    width: 100%;
    max-width: 400px; /* Reduced width for the form */
    margin: auto;
}

.contact_form-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact_form-div {
    position: relative;
    margin-bottom: 1.25rem;
}

.contact_form-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
}

.contact_form-input:focus {
    border-color: #000000;
    outline: none;
}

.contact_form-textarea {
    height: 120px;
    resize: none;
}

button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

.button__icon {
    margin-left: 0.5rem;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .contact_container {
        grid-template-columns: 1fr;
    }

    .contact_info {
        margin-bottom: 2rem;
    }

    .contact_form-input {
        height: 2.5rem; /* Slightly smaller input height */
    }

    .contact_form-container {
        width: 90%; /* Form width will adjust to smaller screens */
    }
}
